---
title: Google Analytics 4
layout: "base.njk"
---

{% include "_form.html" %}

<script src="../scripts/ga4-tracker.js"></script>
<script src="../scripts/common.js"></script>
<script src="../scripts/ga4-handlers.js"></script>
