---
title: GTAG
layout: "base.njk"
---

{% include "_form.html" %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7JXZZWPGW"></script>
<script src="../scripts/ga4-tracker.js"></script>
<script src="../scripts/common.js"></script>
<script src="../scripts/ga4-handlers.js"></script>
