<p>
  <a id="link-one" class="event-link-click" href="/dummy-url-one">Track Link Click Event</a> |
  <a id="link-two" class="event-link-click" href="/dummy-url-two">Track Link Click Event</a>
</p>

<p>
  <button id="button-one" class="virtual-pageview">Track Virtual 'pageview' Event</button>
  <button id="button-two" class="virtual-pageview">Track Virtual 'pageview' Event</button>
</p>

<form id="form-one" action="/dummy-endpoint" method="post">
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name" value="Fred Flintstone"><br>
  <label for="email">Email</label><br>
  <input type="email" id="email" name="email" value="fred@bedrock.com"><br>
  <input type="submit" value="Track Form Submit Event">
</form>
