<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'strict-dynamic' 'nonce-dbe59c33-7c07-4d77-b07a-872d187f1f7b' 'unsafe-inline' https://www.google-analytics.com https://www.googletagmanager.com; base-uri 'none'; style-src 'self' https://cdn.simplecss.org; default-src 'self'; img-src 'self'; require-trusted-types-for 'script'; object-src 'none';">
    <title>ua-test-website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    <header>
      {{ title }}

      <nav>
        <a href="/">Home</a>
        <a href="/noanalytics">No Analytics</a>
        <a href="/ua">Universal Analytics</a>
        <a href="/ga4">Google Analytics 4</a>
        <a href="/dualtagging">Dual Tagging</a>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
