<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <body>
    <header>
      {{ title }}

      <nav>
        <a href="/">Home</a>
        <a href="/ua">Universal Analytics</a>
        <a href="/ga4">Google Analytics 4</a>
        <a href="/dualtagging">Dual Tagging</a>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
