---
title: GTAG
layout: "base.njk"
---

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7JXZZWPGW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z7JXZZWPGW');
</script>
